@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

nav {
  background: white; 
  display: flex;
  justify content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

nav ul li a {
text-decoration: none;
  font-size: 20px;
  color: #000;
  font-weight: 300;
nav .logo img {
  width: 80px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 2rem;
  background-color: #cfa9cd;
  background-image: url("../images/dsc06156_3-1.svg")
  border-radius: 12px;
  text-decoration: none;
  color: #000;
}

header .btn {
  padding: 12rem 2rem;
  text-align: center;
}

  h1
  font-family: "DM Karma";
  font-weight: bold;
  font size: 100px;
  
